extends ./layout/app

block contenido 
    section(class='w-full p-10 flex flex-col items-center')
        h3(class='text-center text-2xl font-extrabold')= pagina 

        if propiedades.length 
            div(class='grid grid-cols-1 lg:grid-cols-3 gap-5 mt-14')
                each propiedad in propiedades 
                    include ./templates/card
        else 
            p no hay resultados