extends ./layout/app

block styles 

block contenido
    h2(class='text-center text-gray-800 text-sm py-10') Vaya! Parece que lo que buscas no existe 
        small Intenta con otra cosa
    figure(class='flex justify-center')
        img(src="/img/robot-not-found.png" alt="")
