doctype html
html(lang="es")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Bienes Raices | #{pagina}
        block styles
        link(rel="stylesheet", href="/css/app.css")
    body.min-h-screen.bg-white.flex.flex-col
        if hasUser
            include includes/header-admin
        else 
            include includes/header-app
        
        main(class="flex-1 min-h-[400px]")
            div(class="flex w-full")
                block contenido
        include includes/footer-app
        block scripts
       
