footer.bg-gray-800.text-white.px-6.py-8
  .container.mx-auto
    .footer-content(class="flex flex-col space-y-8 md:flex-row md:justify-between md:space-y-0")
      //- Sección 1: Categorías de Propiedades
      .property-categories
        h2.text-lg.font-bold.mb-4 Categorías de Propiedades
        ul
          li
            a Casas
          li
            a Apartamentos
          li
            a Locales Comerciales
          li
            a Oficinas
          li
            a Terrenos
      .site-info
        h2.text-lg.font-bold.mb-4 Sobre Nosotros
        p.text-gray-400 Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus imperdiet...
        
      .social-media
        h2.text-lg.font-bold.mb-4 Redes
        ul.flex.space-x-4
          li
            a(href="https://facebook.com") Facebook
          li
            a(href="https://twitter.com") Twitter
          li
            a(href="https://instagram.com") Instagram
          li
            a(href="https://linkedin.com") LinkedIn
          
    .footer-bottom.mt-8.text-center.text-gray-500
      p © 2024 BienesRaices. Juan Miguel Bogado.