header.bg-indigo-600.p-4 
    .container.mx-auto.flex.justify-between.items-cente 
        a(href="/").text-2xl.text-white.font-extrablod.text-center ArQuilar 
            span.font-normal Propiedades
            
        nav(class="my-5 text-sm md:flex md:items-center md:gap-3 font-bold text-white hidden")
            a(href="/auth/registrer") Crear Cuenta
            a(href="/auth/login") Iniciar Sesion 
div(class="bg-indigo-700 py-5 hidden lg:block")
    div(class="container mx-auto flex justify-between")
        a(href="/categorias/1" class="text-sm font-bold uppercase text-white") Casas
        a(href="/categorias/2" class="text-sm font-bold uppercase text-white") Edificios
        a(href="/categorias/3" class="text-sm font-bold uppercase text-white") Cabaña
        a(href="/categorias/4" class="text-sm font-bold uppercase text-white") Quinta
        a(href="/categorias/5" class="text-sm font-bold uppercase text-white") Garage
        a(href="/categorias/6" class="text-sm font-bold uppercase text-white") Local Comercial
        a(href="/categorias/7" class="text-sm font-bold uppercase text-white") Oficina
        a(href="/categorias/8" class="text-sm font-bold uppercase text-white") Terreno
